.head{
  .info{
    padding: 30px;
    .title{

      font-family: sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #101213;
    }
    .nav{
      padding-top: 4px;
      font-family: sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #787878;
    }
  }
}
