
    <nav class="main-menu">
      <ul class="logo">
        <li>
            <img src="assets/icon/logo.svg" alt="logo" />

        </li>
      </ul>

      <ul>
        <li>
          <a href="#">
            <img src="assets/icon/glass.svg" alt="glass" />
            <span class="nav-text">
              <input
                type="search"
                name="search"
                placeholder=" Buscar tela/rotina"
              />
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="#">
            <img src="assets/icon/favorite.svg" alt="favorite" />
            <span class="nav-text"> Favoritos </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="#">
            <img src="assets/icon/registration.svg" alt="registration" />
            <span class="nav-text"> Cadastro </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="#">
            <img src="assets/icon/attendance.svg" alt="attendance" />
            <span class="nav-text"> Atendimento </span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/icon/routine.svg" alt="routine" />
            <span class="nav-text"> Demais rotinas </span>
          </a>
        </li>
      </ul>
    </nav>

