<div class="page">
  <app-time-line></app-time-line>
  <div class="title">Informe o CPF do futuro cooperado (a)</div>
  <div class="description">
    Se necessário, você poderá duplicar uma conta existente ou pausar e retomar
    este cadastro futuramente. <br />Digite apenas os números (sem pontos ou
    traços).
  </div>
  <form autocomplete="off" [formGroup]="infoForm" (ngSubmit)="getClient()">
    <div class="field">CPF</div>
    <div class="consult">
      <input mask="000.000.000-00" id="cpf" name="cpf" formControlName="cpf" />
      <button type="submit">Consulta por CPF</button>
    </div>

    <div class="alert">
      <app-control-erro
      [exibiErro]="verificaCpfValido()"
      mensagemErro="CPF inválido."
    ></app-control-erro>
    </div>

    <div class="cards" *ngIf="client">
      <div class="cardCad">
        <div class="cardTitle">Situação cadastral do CPF</div>
        <div class="cardSubTitle">Consulta na Receita Federal</div>
        <div class="info">
          <div class="icon">
            <img src="assets/icon/new-user.svg" alt="profile" />
          </div>
          <div class="details">
            <div class="detailsTitle">Nome</div>
            <div class="value">{{ client.nome  }}</div>
          </div>
          <div class="clear"></div>
        </div>

        <div class="info">
          <div class="icon">
            <img src="assets/icon/check.svg" alt="card" />
          </div>
          <div class="details">
            <div class="detailsTitle">Situação do CPF</div>
            <div class="value">{{ client.situacao }}</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <div class="cardCad" *ngFor="let conta of client.contas">
        <div class="cardTitle">{{ conta.tipo }}</div>
        <div class="cardSubTitle">{{ conta.banco }}</div>
        <div class="info">
          <div class="icon">
            <img src="assets/icon/card.svg" alt="card" />
          </div>
          <div class="details">
            <div class="detailsTitle">Número da conta</div>
            <div class="value">{{ conta.numero }}</div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="info">
          <div class="account">Duplicar conta</div>
        </div>
      </div>
    </div>
  </form>
</div>
