

.page {
  background: var(--background-color);
  padding-left: 25px;
  padding-bottom: 40px;
  margin: 0;
  .title {
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #101213;
  }
}

.description {
  padding-top: 5px;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #4f575e;
}

.consult {
  padding-top: 15px;
  .field {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 14px;
  }

  input {
    border-radius: 2px;
    border: 1px solid #889499;
    height: 32px;
    width: 270px;
    padding: 0;
    padding-left: 10px;
  }

  button {
    border: 0;
    margin-left: 15px;
    background-color: #165c7d;
    height: 32px;
    width: 170px;
    color: #fff;
    cursor: pointer;
  }
}

.cards{
  display: flex;
  flex-direction: row;

}
.cardCad {
  margin-top: 30px;
  width: 250px;
  height: 180px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-right: 30px;

  .cardTitle {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #204657;
    padding-bottom: 3px;
  }
  .cardSubTitle {
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #787878;
  }

  .info {
    padding-top: 20px;
    .icon {
      padding-top: 10px;
      float: left;
      padding-right: 20px;
    }
    .details {
      float: left;
      .detailsTitle {
        font-family: sans-serif;
        font-size: 11px;
        font-weight: 400;
        color: #787878;
        padding-bottom: 3px;
      }
      .value {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #040f14;
        width: 200px;
      }
    }
    .account {
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #165c7d;
    }
  }
}

.clear {
  clear: both;
}
